AWS_REGION=YOUR_AWS_REGION
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY_ID=YOUR_SECRET_ACCESS_KEY

DYNAMODB_TABLE_NAME=YOUR_DYNAMODB_TABLE_NAME

S3_BUCKET_NAME=YOUR_S3_BUCKET_NAME


PORT=3000